@mixin btnDark {
  display: inline;
	padding: 8px 10px;
	background-color: $bgDark;
	border-radius: 10px;
	color: $wColor;
	text-decoration: none;
	transition: .5s;
	font-size: 16px;
	font-family: $latoFamily;
	font-weight: $wRegular;
}

@mixin btnGreen {
  display: inline;
  padding: 8px 10px;
  background-color: $greenBtn;
  border-radius: 10px;
  color: $wColor;
  text-decoration: none;
  transition: .5s;
  font-size: 16px;
  font-family: $latoFamily;
  font-weight: $wRegular;
  width: max-content;
}

@mixin titles{
  font-family: $poppinsFamily;
  font-weight: $wSemibold;
  color: $titleColor;
  font-size: 32px;
  color:$titleColor;
}

@mixin text{
  color:$pColor;
  font-weight: $wMedium;
  font-family: $latoFamily;
  font-size: 16px;
}


@mixin subtitles{
  color:$spanColor;
  font-weight: $wSemibold;
  font-size: 18px;
}
