$titleColor:#1F1841;
$spanColor:#4836FE;
$pColor:#686777;
$bgDark:#1e1f26;
$bgSemiDark: #303137;
$greenBtn:#6EAF74;
$wColor:#fff;
$bColor:#000;
$bgColor:"#fafafa";
$rColor:rgb(255, 43, 43);
$wLight: 300;
$wRegular:400;
$wMedium:500;
$wSemibold:600;
$wBold: 700;
$linearBg: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #a31dfb 0%, #a31dfb 33%, #4836FE 88%, #4836fe 100%);
$latoFamily: 'Lato', 'sans-serif';
$poppinsFamily:'Poppins', 'sans-serif';
